<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Мониторинг АКБ и устройств</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="text/javascript" src="/js/libs/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/libs/jquery.cookie.js"></script>
    <script type="text/javascript" src="/js/libs/localStorage.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <style>
        .transition-all {
            transition: all 0.3s ease-in-out;
        }
    </style>
</head>

<body class="flex h-screen bg-gray-50 font-sans text-gray-800">
    <aside
        class="w-64 bg-white shadow-lg border-r border-gray-200 flex-shrink-0 flex flex-col justify-between min-h-screen">
        <div>
            <div class="p-6 border-b border-gray-200">
                <h2 class="text-2xl font-bold text-blue-600 mb-4">Меню</h2>
                <div class="flex items-center space-x-3 mb-4">
                    <div
                        class="w-10 h-10 bg-blue-100 rounded-full flex items-center justify-center text-blue-600 font-semibold user-name-short">
                        M</div>
                    <div>
                        <p class="font-semibold text-gray-700 user-name">Админ</p>
                        <p class="text-sm text-gray-500">онлайн</p>
                    </div>
                </div>
            </div>
            <nav class="mt-4 px-2 flex-1">
                <ul class="space-y-2">
                    <li>
                        <button id="btnDevices" data-area="devices"
                            class="w-full flex items-center px-4 py-3 rounded-lg hover:bg-blue-50 transition-all focus:outline-none"
                            data-active="">
                            <svg class="w-5 h-5 mr-3 text-green-500" fill="none" stroke="currentColor" stroke-width="2"
                                viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 17L15 12 9.75 7v10z" />
                            </svg>
                            <span class="font-medium text-gray-700">Устройства</span>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="p-4 border-t border-gray-200">
            <button id="logoutBtn"
                class="w-full flex items-center justify-center px-4 py-3 border border-red-600 text-red-600 bg-transparent hover:bg-red-50 font-semibold rounded-lg transition-colors focus:outline-none">
                <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17 16l4-4m0 0l-4-4m4 4H7" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 12v0a9 9 0 0118 0v0" />
                </svg>
                Выйти
            </button>
        </div>
    </aside>
    <div class="flex-1 p-8 overflow-y-auto transition-all duration-300">
        <div class="max-w-4xl mx-auto text-center text-gray-600 content-area" data-area="base">
            <h1 class="text-3xl font-bold text-gray-800 mb-4">Добро пожаловать</h1>
            <p class="text-lg">Выберите раздел слева для просмотра или добавления данных.</p>
        </div>
        <div data-area="devices" class="hidden content-area">
            <h2 class="text-2xl font-semibold text-gray-800 mb-4">Устройства</h2>
            <button id="openModal" class="mb-4 px-4 py-2 bg-blue-600 text-white rounded-lg">Добавить устройство</button>
            <div class="overflow-x-auto bg-white rounded-lg shadow-lg mb-6" id="device-list"></div>
            <div id="side-menu"
                class="w-2/5 bg-gray-100 p-4 fixed shadow-xl right-0 top-0 h-full transform translate-x-full transition-transform duration-300 z-50"
                style="width: 40%;">
                <button id="close-menu"
                    class="absolute top-2 text-3xl right-2 text-gray-500 hover:text-gray-700">&times;</button>
                <h2 class="text-xl font-semibold mb-4">Устройство</h2>
                <div id="device-info"></div>
                <div class="bg-white rounded-lg shadow p-4 mt-3 space-y-4 border border-gray-200">
                    <div class="flex items-center justify-between">
                        <h3 class="text-xl font-semibold text-gray-800">АКБ</h3>
                        <button
                            class="bg-green-600 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded shadow transition duration-200"
                            id="openBatteryModal">
                            Добавить
                        </button>
                    </div>
                    <div id="battery-list"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="deviceModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden z-50">
        <div class="max-w-2xl mx-auto bg-white p-6 rounded-lg shadow-lg space-y-4 relative">
            <h3 class="text-xl font-semibold text-gray-700 mb-4 modal-name">Добавить устройство</h3>
            <div id="error-device-alert" style="display: none;"
                class="mb-4 p-3 bg-red-100 border border-red-400 text-red-700 rounded-lg"></div>
            <div class="space-y-3">
                <button id="closeModal"
                    class="absolute top-2 right-2 text-3xl text-gray-500 hover:text-gray-700">&times;</button>
                <input type="text" id="deviceName" placeholder="Название"
                    class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-green-300"
                    required />
                <select id="device_api_id"
                    class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-green-300"
                    required>
                </select>
                <input type="text" id="firmwareVersion" placeholder="Версия прошивки"
                    class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-green-300"
                    required />
                <select id="deviceStatus"
                    class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-green-300"
                    required>
                    <option value="">Состояние</option>
                    <option value="on">Вкл</option>
                    <option value="off">Выкл</option>
                </select>
                <input type="number" id="max_batteries" placeholder="Количество АКБ"
                    class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-green-300"
                    required />
                <button id="add_device"
                    class="w-full bg-green-600 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded-lg transition-colors">Добавить</button>
                <button id="save_device"
                    class="w-full bg-green-600 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded-lg transition-colors">Сохранить</button>
            </div>
        </div>
    </div>
    <div id="batteryModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden z-50">
        <div class="max-w-2xl mx-auto bg-white p-6 rounded-lg shadow-lg space-y-4 relative">
            <h3 class="text-xl font-semibold text-gray-700 mb-4 modal-battery-name">Добавить АКБ</h3>
            <div id="error-battery-alert" style="display: none;"
                class="mb-4 p-3 bg-red-100 border border-red-400 text-red-700 rounded-lg"></div>
            <div class="space-y-3">
                <button id="closeModalBattery"
                    class="absolute top-2 right-2 text-3xl text-gray-500 hover:text-gray-700">&times;</button>
        
                <input type="text" id="batteryName" placeholder="Название"
                    class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-300"
                    required />
                <input type="number" step="0.1" id="nominalVoltage" placeholder="Напряжение"
                    class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-300"
                    required />
                <input type="number" step="0.1" id="residualCapacity" placeholder="Остаточная емкость"
                    class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-300"
                    required />
                <input type="number" id="serviceLife" placeholder="Срок службы (мес)"
                    class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-300"
                    required />
                <select id="signal_api_id"
                    class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-green-300"
                    required>
                </select>
                <button id="add_battery"
                    class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-lg transition-colors">Добавить</button>
                <button id="save_battery"
                    class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-lg transition-colors">Сохранить</button>
                    
            </div>
        </div>
    </div>
</body>

</html>